// Variables 
$website-width: 1000px;
$main-color: #13b1f0e7;
$light-color: #ddd;
$background-color: #03000a;
$medium-color: #69bf70;
$dark-color: #0a0a0f;
$hover-speed: all .5s;
$bg-image: url('/img/showcase.jpg');

// Set Text Color
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}